<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <script>
      {% include "first_input_delay.min.js" %}
      perfMetrics.onFirstInputDelay(function (delay, evt) {
        console.log('FID', evt.type, Math.round(evt.timeStamp) + 'ms', Math.round(delay));
        var _paq = window._paq || [];
        _paq && _paq.push(['trackEvent', 'Performance', 'FID', evt.type]);
        _paq && _paq.push([
          'trackEvent',
          'Performance',
          'FID',
          'Timestamp',
          Math.round(evt.timeStamp)
        ]);
        _paq && _paq.push(['trackEvent', 'Performance', 'FID', 'Delay', Math.round(delay)]);
      });
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# Prefetching of domains that I am likely to use #}
    <link rel="preconnect dns-prefetch" href="https://res.cloudinary.com">
    {# / Prefetching of domains that I am likely to use #}

    {# Prefetching previous and next pages #}
    <link rel='preconnect dns-prefetch' href="https://analytics.schapira.dev/matomo.js">
    {% if previous or next %}
      {% if previous %}
        <link rel="prefetch" href="{{previous.url | url}}">
      {% endif %}
      {% if next %}
        <link rel="prefetch" href="{{next.url | url}}">
      {% endif %}
    {% endif %}
    {# / Prefetching previous and next pages #}

    {% import "assets.njk" as assets %}
    {# Preloading the fonts and styles for later use #}
    <link rel="preload" as="style" href="{{ assets.css('/assets/styles/critical') }}" data-proofer-ignore>
    <link rel="preload" as="style" href="{{ assets.css('/assets/styles/main') }}" data-proofer-ignore>
    <link rel="preload" as="style" href="/assets/styles/hl.css') }}" data-proofer-ignore>
    <link rel="prefetch" as="style" href="{{ assets.css('/assets/styles/vendors/instantsearch.min') }}" data-proofer-ignore>
    <link rel="prefetch" as="style" href="{{ assets.css('/assets/styles/vendors/instantsearch-theme-algolia.min') }}" data-proofer-ignore>
    {# / Preloading the fonts and styles for later use #}

    {# Styles #}
    <script>performance.mark('mark_declare_css_start');</script>
    <link href="{{ assets.css('/assets/styles/critical') }}" rel="stylesheet" data-proofer-ignore>
    <link href="{{ assets.css('/assets/styles/main') }}" rel="stylesheet" data-proofer-ignore>
    {% if page.i18n-key == "search" %}
    <link href="{{ assets.css('/assets/styles/vendors/instantsearch.min') }}" rel="stylesheet" data-proofer-ignore>
    <link href="{{ assets.css('/assets/styles/vendors/instantsearch-theme-algolia.min') }}" rel="stylesheet" data-proofer-ignore>
    {% endif %}
    <script>performance.mark('mark_declare_css_end');performance.measure('mark_declare_css', 'mark_declare_css_start', 'mark_declare_css_end');</script>
    {# / Styles #}

    {# Webmentions (for later use ?) #}
    <link rel="pingback" href="https://webmention.io/webmention?forward=https://webmention.io/borisschapira.com/webmention" />
    <link rel="webmention" href="https://webmention.io/borisschapira.com/webmention" />
    {# / Webmentions (for later use ?) #}

    <!-- RSS -->
    {% set feed_url = 'feed.xml' %}
    {% if category %}
      {% set feed_url = category + '/' + feed_url %}
    {% endif %}
    <link rel="alternate" type="application/rss+xml" href="{{ page.baseurl + feed_url }}">

    {% if translations %}
     {%- for translation in translations -%}
    <link rel="alternate" hreflang="{{ translation.locale }}" href="{{ translation.url }}"/>
      {%- endfor -%}
    {% endif %}

    {% if (metadata.norobots) or (page.norobots) %}
    <meta name="robots" content="noindex,nofollow">
    {% elif (pagination) and (pagination.pageNumber > 0) %}
    <meta name="robots" content="noindex,follow">
    {% endif %}

    {% include "social.njk"%}
    <title>{{ socialTitle | striptags }}</title>
    {# {% if page.canonical %}
      <link rel="canonical" href="{{ page.canonical }}" data-proofer-ignore/>
    {% else %}
    <link rel="canonical" href="{{ page.url | absolute_url }}" data-proofer-ignore/>
    {% endif %}

    <meta name="description" content="{{ page.social.description }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.social.title }}" />
    <meta property="og:image" content="{{ page.social.image }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{ metadata.name }}" />

    <meta property="article:author" content="{{ metadata.author.name }}" />
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />

    {% if page.category %}
    <meta property="article:section" content="{{ page.category }}" />
    {% endif %}

    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="{{ metadata.domain }}" />
    <meta name="twitter:title" content="{{ page.social.title }}" />
    <meta name="twitter:description" content="{{ page.social.description }}" />
    <meta property="twitter:label1" content="Par" />
    <meta property="twitter:data1" content="{{ page.author.name or metadata.author.name }}" />

    {% if page.category %}
    <meta property="twitter:label2" content="{{ "Catégorie" | t:page.locale }}" />
    <meta property="twitter:data2" content="{{ page.category | capitalize }}" />
    {% endif %}

    <meta name="twitter:image" content="{{ page.social.image }}">
    <meta name="twitter:creator" content="{{ metadata.author.twitter_username }}" />
    <meta name="twitter:site" content="{{ metadata.author.twitter_username }}" />
    <meta name="twitter:widgets:link-color" content="#{{ page.social.color }}">
    <meta name="twitter:widgets:border-color" content="#{{ page.social.color }}">
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:widgets:csp" content="on">

    <!-- Real favicon generator -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="manifest" href="/manifest.json?v=E6jXRBAgkK" data-proofer-ignore>
    <link rel="shortcut icon" href="/favicon.ico?v=E6jXRBAgkK" data-proofer-ignore>
    <meta name="theme-color" content="#{{ page.social.color }}"> #}

    <!-- endnomicrotypo -->
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>
      <ul class="nav">
        {%- for nav in collections['nav_'+locale] | reverse -%}
          <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
