---
layout: home.njk
---

<h1>{{ content }}</h1>

<ol start="{{ pagination.pageNumber | times: pagination.size | plus: 1 }}">
{%- for post in posts -%}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ol>

{% include pagination.liquid %}
