---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: default.liquid
navtitle: Tags
tags:
  - nav_en
  - nav_fr
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% assign postslist = collections[ tag ] %}
{% include postslist.liquid %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
